body{
    background: url(imagenes/fondo6.jpg);
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: 100% 100%;
}

/* Login */

#tablaLogin{
   position: relative;
   margin: auto;
   height: 300px;
   width: 300px;
  
   text-align: center;
   top: 50px;
   color: #F4F6F7;
   padding-left: 10px;
  
}

#frmLogin{
    position: relative;
   margin: auto;
   height: 450px;
   width: 600px;
   background: rgba(0, 0, 0, 0.5);
   text-align: center;
   top: 30px;
   color: #F4F6F7;
   padding-left: 10px;;
    
}
label {
        position: relative;
	color:#F4F6F7;
	font-size:20px;
        margin-left: 10px; 
        font-weight: bold;
        float: left;
        
  
 }
#btnIngresar{
    display: inline-block;
    width: 100px;
    height: 30px;
    background: #34495E;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#34495E), to(#99A3A4));
    background-image: -webkit-linear-gradient(top, #34495E, #99A3A4);
    background-image: -moz-linear-gradient(top, #34495E, #99A3A4);
    background-image: -o-linear-gradient(top, #34495E, #99A3A4);
    background-image: -ms-linear-gradient(top, #34495E, #99A3A4);
    background-image: linear-gradient(to bottom, #34495E, #99A3A4);

    font-size: 12px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 -2px 0 rgba(0,0,0,.25);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}

#btnIngresar:hover{
    text-decoration: none;
    -moz-box-shadow: 0 -5px 10px 0 rgba(0,0,0,.2) inset;
    -webkit-box-shadow: 0 -5px 10px 0 rgba(0,0,0,.2) inset;
    box-shadow: 0 -5px 10px 0 rgba(0,0,0,.2) inset;
}

#lnkRegistrarUsuario{
    text-align: center;
    color: #FBFCFC;
    font-size: 20px;
}

.campoSinFoco{
    background: #FFFFFF;
    border: 1px solid #000000;
}
.campoConFoco{
    background: #D4E6F1;
    border: 1px solid #000000;
}


/* Registrar usuario */

.primeraColumna{
    text-align: left;
}

#frmRegistrarUsuario{
    color: #FDFEFE;
    background: rgba(0, 0, 0, 0.5);
}

#tablaRegistrarUsuario{
    margin: auto;
}

#btnCancelar{
    display: inline-block;
    width: 100px;
    height: 30px;
    background: #C0392B;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#C0392B), to(#EC7063));
    background-image: -webkit-linear-gradient(top, #C0392B, #EC7063);
    background-image: -moz-linear-gradient(top, #C0392B, #EC7063);
    background-image: -o-linear-gradient(top, #C0392B, #EC7063);
    background-image: -ms-linear-gradient(top, #C0392B, #EC7063);
    background-image: linear-gradient(to bottom, #C0392B, #EC7063);

    font-size: 12px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 -2px 0 rgba(0,0,0,.25);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}

#btnRegistrar{
    display: inline-block;
    width: 100px;
    height: 30px;
    background: #28B463;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#21618C), to(#5DADE2));
    background-image: -webkit-linear-gradient(top, #21618C, #5DADE2);
    background-image: -moz-linear-gradient(top, #21618C, #5DADE2);
    background-image: -o-linear-gradient(top, #21618C, #5DADE2);
    background-image: -ms-linear-gradient(top, #21618C, #5DADE2);
    background-image: linear-gradient(to bottom, #21618C, #5DADE2);

    font-size: 12px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 -2px 0 rgba(0,0,0,.25);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}

.Botones{
    text-align: center;
}

.button:hover{
    text-decoration: none;
    -moz-box-shadow: 0 -5px 10px 0 rgba(0,0,0,.2) inset;
    -webkit-box-shadow: 0 -5px 10px 0 rgba(0,0,0,.2) inset;
    box-shadow: 0 -5px 10px 0 rgba(0,0,0,.2) inset;
}


/* Catalogo */

#frmCabecera{
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 1000px;
    height: 150px;
    position: relative;
    background-attachment: fixed;
    margin: auto;
}

#tablaCabecera{
  position: relative;
  top: 50px;
  margin: auto;
  width: 450px;
  height: 50px;
  
    
}

#tablaCatalogo{
    margin: auto;
    width: 1000px;
    background: rgba(0, 0, 0, 0.5);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 0 2px 15px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 0 2px 15px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 15px 0 rgba(0,0,0,.2);


    border-bottom: 1px solid #ddd;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    color: #FDFEFE;

}

.link{
    
    display: compact;
    background: black;
     padding: 14px 20px;
    background: #21618C;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#21618C), to(#5DADE2));
    background-image: -webkit-linear-gradient(top, #21618C, #5DADE2);
    background-image: -moz-linear-gradient(top, #21618C, #5DADE2);
    background-image: -o-linear-gradient(top, #21618C, #5DADE2);
    background-image: -ms-linear-gradient(top, #21618C, #5DADE2);
    background-image: linear-gradient(to bottom, #21618C, #5DADE2);

    font-size: 12px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 -2px 0 rgba(0,0,0,.25);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}

.link:hover{
     text-decoration: none;
    -moz-box-shadow: 0 -5px 10px 0 rgba(0,0,0,.2) inset;
    -webkit-box-shadow: 0 -5px 10px 0 rgba(0,0,0,.2) inset;
    box-shadow: 0 -5px 10px 0 rgba(0,0,0,.2) inset;
}

.BotonModificar{
    display: inline-block;
    width: 100px;
    height: 30px;
    background: #28B463;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#21618C), to(#5DADE2));
    background-image: -webkit-linear-gradient(top, #21618C, #5DADE2);
    background-image: -moz-linear-gradient(top, #21618C, #5DADE2);
    background-image: -o-linear-gradient(top, #21618C, #5DADE2);
    background-image: -ms-linear-gradient(top, #21618C, #5DADE2);
    background-image: linear-gradient(to bottom, #21618C, #5DADE2);

    font-size: 12px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 -2px 0 rgba(0,0,0,.25);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}

.BotonCanciones{
    display: inline-block;
    width: 100px;
    height: 30px;
    background: #28B463;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#28B463), to(#52BE80));
    background-image: -webkit-linear-gradient(top, #28B463, #52BE80);
    background-image: -moz-linear-gradient(top, #28B463, #52BE80);
    background-image: -o-linear-gradient(top, #28B463, #52BE80);
    background-image: -ms-linear-gradient(top, #28B463, #52BE80);
    background-image: linear-gradient(to bottom, #28B463, #52BE80);

    font-size: 12px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 -2px 0 rgba(0,0,0,.25);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}

.BotonADD{
    display: inline-block;
    width: 100px;
    height: 30px;
    background: #34495E;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#34495E), to(#99A3A4));
    background-image: -webkit-linear-gradient(top, #34495E, #99A3A4);
    background-image: -moz-linear-gradient(top, #34495E, #99A3A4);
    background-image: -o-linear-gradient(top, #34495E, #99A3A4);
    background-image: -ms-linear-gradient(top, #34495E, #99A3A4);
    background-image: linear-gradient(to bottom, #34495E, #99A3A4);

    font-size: 12px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 -2px 0 rgba(0,0,0,.25);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}

.BotonModificar:hover{
    text-decoration: none;
    -moz-box-shadow: 0 -5px 10px 0 rgba(0,0,0,.2) inset;
    -webkit-box-shadow: 0 -5px 10px 0 rgba(0,0,0,.2) inset;
    box-shadow: 0 -5px 10px 0 rgba(0,0,0,.2) inset;
}

.BotonADD:hover{
     text-decoration: none;
    -moz-box-shadow: 0 -5px 10px 0 rgba(0,0,0,.2) inset;
    -webkit-box-shadow: 0 -5px 10px 0 rgba(0,0,0,.2) inset;
    box-shadow: 0 -5px 10px 0 rgba(0,0,0,.2) inset;
}


/* Menu administrador */

#tablaAdministrador{
    margin: auto;
    width: 1000px;
    border-style: solid;
    border-color: #000000;
    border-collapse: collapse;
    color: #FDFEFE;
    
}

#tablaAdministrador th{
    font-size: 20px;
    font-weight: bold;
    color: #FDFEFE;
}

#tablaAdministrador th{
    border-style: solid;
    border-color: #000000;
    border-collapse: collapse;
}

#tablaAdministrador td{
    text-align: center;
    border-style: solid;
    border-color: #000000;
    border-collapse: collapse;
    height: 45px;
}


/* Registrar Clase producto */

#frmRegistrarGM{
    color: #FDFEFE;
    background: rgba(0, 0, 0, 0.5);
}

#tablaRegistrarGM{
    margin: auto;
}


/* Registrar Marca producto */

#frmRegistrarA{
    color: #FDFEFE;
    background: rgba(0, 0, 0, 0.5);
}

#tablaRegistrarA{
    margin: auto;
}


/* Registrar producto */

#frmRegistrarDisco{
    color: #FDFEFE;
    background: rgba(0, 0, 0, 0.5);
}

#tablaRegistrarDisco{
    margin: auto;
    
}


/* Mostrar clase producto */

.Titulo{
    background-color: #154360;
}

#frmMostrarCabeceraGM{
    color: #FDFEFE;
    background: rgba(0, 0, 0, 0.5);
}

#tablaMostrarCabeceraGM{
    margin: auto;
}

#tablaMostrarCabeceraGM td{
    text-align: center;
}

#tablaMostrarCuerpoGM{
    margin: auto;
    width: 50%;
    border: 2px solid #000000;
    border-collapse: collapse;
}

#tablaMostrarCuerpoGM td{
    border: 2px solid #000000;
    text-align: center;
    color: #FDFEFE;
}

#tablaMostrarCuerpoGM th{
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #000000;
    color: #FDFEFE;
}

.Opcion{
    width: 5%;
}

#btnModificar{
    display: inline-block;
    width: 100px;
    height: 30px;
    background: #117A65;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#117A65), to(#52BE80));
    background-image: -webkit-linear-gradient(top, #117A65, #52BE80);
    background-image: -moz-linear-gradient(top, #117A65, #52BE80);
    background-image: -o-linear-gradient(top, #117A65, #52BE80);
    background-image: -ms-linear-gradient(top, #117A65, #52BE80);
    background-image: linear-gradient(to bottom, #117A65, #52BE80);

    font-size: 12px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 -2px 0 rgba(0,0,0,.25);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}

#btnEliminar{
    display: inline-block;
    width: 100px;
    height: 30px;
    background: #C0392B;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#C0392B), to(#EC7063));
    background-image: -webkit-linear-gradient(top, #C0392B, #EC7063);
    background-image: -moz-linear-gradient(top, #C0392B, #EC7063);
    background-image: -o-linear-gradient(top, #C0392B, #EC7063);
    background-image: -ms-linear-gradient(top, #C0392B, #EC7063);
    background-image: linear-gradient(to bottom, #C0392B, #EC7063);

    font-size: 12px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 -2px 0 rgba(0,0,0,.25);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}


/* Mostrar marca producto */

#frmMostrarCabeceraA{
    color: #FDFEFE;
    background: rgba(0, 0, 0, 0.5);
}

#tablaMostrarCabeceraA{
    margin: auto;
}

#tablaMostrarCabeceraA td{
    text-align: center;
}

#tablaMostrarCuerpoA{
    margin: auto;
    width: 50%;
    border: 2px solid #000000;
    border-collapse: collapse;
}

#tablaMostrarCuerpoA th{
    border: 2px solid #000000;
    font-size: 18px;
    font-weight: bold;
    color: #FDFEFE;
}

#tablaMostrarCuerpoA td{
    border: 2px solid #000000;
    text-align: center;
    color: #FDFEFE;
}


/* Mostrar productos */

#frmMostrarCabeceraDisco{
    color: #FDFEFE;
    background: rgba(0, 0, 0, 0.5);
}

#tablaMostrarCabeceraDisco{
    margin: auto;
}

#tablaMostrarCabeceraDisco td{
    text-align: center;
}

#tablaMostrarCuerpoDisco{
    margin: auto;
    width: 95%;
    border: 2px solid #000000;
    border-collapse: collapse;
}

#tablaMostrarCuerpoDisco th{
    border: 2px solid #000000;
    font-size: 18px;
    font-weight: bold;
    color: #FDFEFE;
}

#tablaMostrarCuerpoDisco td{
    border: 2px solid #000000;
    text-align: center;
    color: #FDFEFE;
}


/* Mostrar clase productos eliminados */

#btnRecuperar{
    display: inline-block;
    width: 100px;
    height: 30px;
    background: #1E8449;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1E8449), to(#52BE80));
    background-image: -webkit-linear-gradient(top, #1E8449, #52BE80);
    background-image: -moz-linear-gradient(top, #1E8449, #52BE80);
    background-image: -o-linear-gradient(top, #1E8449, #52BE80);
    background-image: -ms-linear-gradient(top, #1E8449, #52BE80);
    background-image: linear-gradient(to bottom, #1E8449, #52BE80);

    font-size: 12px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 -2px 0 rgba(0,0,0,.25);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}

#frmMostrarCabeceraGMEliminados{
    color: #FDFEFE;
    background: rgba(0, 0, 0, 0.5);
}

#tablaMostrarCabeceraGMEliminados{
    margin: auto;
}

#tablaMostrarCabeceraGMEliminados td{
    text-align: center;
}

#tablaMostrarCuerpoGMEliminados{
    margin: auto;
    width: 50%;
    border: 2px solid #000000;
    border-collapse: collapse;
}

#tablaMostrarCuerpoGMEliminados th{
    border: 2px solid #000000;
    font-size: 18px;
    font-weight: bold;
    color: #FDFEFE;
}

#tablaMostrarCuerpoGMEliminados td{
    border: 2px solid #000000;
    text-align: center;
    color: #FDFEFE;
}


/* Mostrar marca productos eliminados */

#frmMostrarCabeceraAEliminados{
    color: #FDFEFE;
    background: rgba(0, 0, 0, 0.5);
}

#tablaMostrarCabeceraAEliminados{
    margin: auto;
}

#tablaMostrarCabeceraAEliminados td{
    text-align: center;
}

#tablaMostrarCuerpoAEliminados{
    margin: auto;
    width: 50%;
    border: 2px solid #000000;
    border-collapse: collapse;
}

#tablaMostrarCuerpoAEliminados th{
    border: 2px solid #000000;
    font-size: 18px;
    font-weight: bold;
    color: #FDFEFE;
}

#tablaMostrarCuerpoAEliminados td{
    border: 2px solid #000000;
    text-align: center;
    color: #FDFEFE;
}


/* Mostrar productos eliminados */

#frmMostrarCabeceraDiscosEliminados{
    color: #FDFEFE;
    background: rgba(0, 0, 0, 0.5);
}

#tablaMostrarCabeceraDiscosEliminados{
    margin: auto;
}

#tablaMostrarCabeceraDiscosEliminados td{
    text-align: center;
}

#tablaMostrarCuerpoDiscosEliminados{
    margin: auto;
    width: 95%;
    border: 2px solid #000000;
    border-collapse: collapse;
}

#tablaMostrarCuerpoDiscosEliminados th{
    border: 2px solid #000000;
    font-size: 18px;
    font-weight: bold;
    color: #FDFEFE;
}

#tablaMostrarCuerpoDiscosEliminados td{
    border: 2px solid #000000;
    text-align: center;
    color: #FDFEFE;
}


/* Mostrar ventas */

#btnDetalle{
    display: inline-block;
    width: 100px;
    height: 30px;
    background: #117A65;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#117A65), to(#52BE80));
    background-image: -webkit-linear-gradient(top, #117A65, #52BE80);
    background-image: -moz-linear-gradient(top, #117A65, #52BE80);
    background-image: -o-linear-gradient(top, #117A65, #52BE80);
    background-image: -ms-linear-gradient(top, #117A65, #52BE80);
    background-image: linear-gradient(to bottom, #117A65, #52BE80);

    font-size: 10px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 -2px 0 rgba(0,0,0,.25);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}

#frmMostrarCabeceraVenta{
    color: #FDFEFE;
    background: rgba(0, 0, 0, 0.5);
}

#tablaMostrarCabeceraVenta{
    margin: auto;
}

#tablaMostrarCabeceraVenta td{
    text-align: center;
    
}

#tablaMostrarCuerpoVenta{
    margin: auto;
    width: 70%;
    border: 2px solid #000000;
    border-collapse: collapse;
}

#tablaMostrarCuerpoVenta th{
    border: 2px solid #000000;
    font-size: 18px;
    font-weight: bold;
     color: #FDFEFE;
}

#tablaMostrarCuerpoVenta td{
    border: 2px solid #000000;
    text-align: center;
     color: #FDFEFE;
}


/* Mostrar detalle venta */

#tablaRegresar{
    margin: auto;
}

#frmMostrarDetalleVenta{
    color: #FDFEFE;
    background: rgba(0, 0, 0, 0.5);
}

#tablaMostrarDetalleVenta{
    margin: auto;
    width: 70%;
    border: 2px solid #000000;
    border-collapse: collapse;
}

#tablaMostrarDetalleVenta th{
    border: 2px solid #000000;
    font-size: 18px;
    font-weight: bold;
    color: #FDFEFE;
}
#tablaMostrarDetalleVenta td{
    border: 2px solid #000000;
    text-align: center;
    color: #283747;
}

#tablaMostrarDetalleVenta div{
    text-align: right;
    color: black;
}

.TituloDV{
    background-color: #2E86C1;
}

.FilaEnBlanco{
    background-color: #85C1E9;
}

.Contenido{
    background-color: #FFFFFF;
}

#frmMostrarDatosCliente{
    color: #FDFEFE;
    background: rgba(0, 0, 0, 0.5);
}

#tablaMostrarDatosCliente{
    margin: auto;
}


/* Modificar usuario */

#frmModificarUsuario{
    color: #FDFEFE;
    background: rgba(0, 0, 0, 0.5);
}

#tablaModificarUsuario{
    margin: auto;
}

.Enlace{
    font-size: 14px;
    color: #D11B03;
}

#btnGuardar{
    display: inline-block;
    width: 100px;
    height: 30px;
    background: #1F618D;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1F618D), to(#5DADE2));
    background-image: -webkit-linear-gradient(top, #1F618D, #5DADE2);
    background-image: -moz-linear-gradient(top, #1F618D, #5DADE2);
    background-image: -o-linear-gradient(top, #1F618D, #5DADE2);
    background-image: -ms-linear-gradient(top, #1F618D, #5DADE2);
    background-image: linear-gradient(to bottom, #1F618D, #5DADE2);

    font-size: 12px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 -2px 0 rgba(0,0,0,.25);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}


/* Modificar email del usuario */

#frmModificarEmail{
    color: #FDFEFE;
    background: rgba(0, 0, 0, 0.5);
}

#tablaModificarEmail{
    margin: auto;
}


/* Modificar contraseña del usuario */

#frmModificarClave{
    color: #FDFEFE;
    background: rgba(0, 0, 0, 0.5);
}

#tablaModificarClave{
    margin: auto;
}


/* Añadir a carrito */

#frmAnadirCarrito{
    color: #FDFEFE;
    background: rgba(0, 0, 0, 0.5);
}

#tablaAnadirCarrito{
    margin: auto;
}


/* Registrar venta */

#frmRegistrarVenta{
    color: black;
    background: rgba(0, 0, 0, 0.5);
}

#tablaRegistrarVenta{
    margin: auto;
    width: 85%;
    border: 2px solid #000000;
    border-collapse: collapse;
}

#tablaRegistrarVenta th{
    border: 2px solid #000000;
    font-size: 18px;
    font-weight: bold;
}

#tablaRegistrarVenta td{
    border: 2px solid #000000;
    text-align: center;
}

#tablaRegistrarVenta div{
    text-align: right;
}

#btnRegistrarVenta{
    display: inline-block;
    width: 150px;
    height: 30px;
    background: #34495E;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#34495E), to(#99A3A4));
    background-image: -webkit-linear-gradient(top, #34495E, #99A3A4);
    background-image: -moz-linear-gradient(top, #34495E, #99A3A4);
    background-image: -o-linear-gradient(top, #34495E, #99A3A4);
    background-image: -ms-linear-gradient(top, #34495E, #99A3A4);
    background-image: linear-gradient(to bottom, #34495E, #99A3A4);

    font-size: 12px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 -2px 0 rgba(0,0,0,.25);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}


/* Modificar CP */

#frmModificarGM{
    color: #FDFEFE;
    background: rgba(0, 0, 0, 0.5);
}

#tablaModificarGM{
    margin: auto;
}


/* Modificar MP */

#frmModificarA{
    color: #FDFEFE;
    background: rgba(0, 0, 0, 0.5);
}

#tablaModificarA{
    margin: auto;
}


/* Modificar producto */

#frmModificarDisco{
    color: #FDFEFE;
    background: rgba(0, 0, 0, 0.5);
}

#tablaModificarDisco{
    margin: auto;
}


/* Mostrar Usuario Habilitados */


#frmMostrarCabeceraUsuario{
    color: #FDFEFE;
    background: rgba(0, 0, 0, 0.5);
}

#tablaMostrarCabeceraUsuario{
    margin: auto;
}

#tablaMostrarCabeceraUsuario td{
    text-align: center;
}

#tablaMostrarCuerpoUsuario{
    margin: auto;
    width: 85%;
    border: 2px solid #000000;
    border-collapse: collapse;
}

#tablaMostrarCuerpoUsuario th{
    border: 2px solid #000000;
    font-size: 18px;
    font-weight: bold;
    color: #FDFEFE;
}

#tablaMostrarCuerpoUsuario td{
    border: 2px solid #000000;
    text-align: center;
    color: #FDFEFE;
}


/* Mostrar Usuarios Eliminados */

#frmMostrarCabeceraUsuarioEliminados{
    color: #FDFEFE;
    background: rgba(0, 0, 0, 0.5);
}

#tablaMostrarCabeceraUsuarioEliminados{
    margin: auto;
}

#tablaMostrarCabeceraUsuarioEliminados td{
    text-align: center;
    color: #FDFEFE;
}

#tablaMostrarCuerpoUsuarioEliminados{
    margin: auto;
    width: 80%;
    border: 2px solid #000000;
    border-collapse: collapse;
}

#tablaMostrarCuerpoUsuarioEliminados th{
    border: 2px solid #000000;
    font-size: 18px;
    font-weight: bold;
    color: #FDFEFE;
}

#tablaMostrarCuerpoUsuarioEliminados td{
    border: 2px solid #000000;
    text-align: center;
    color: #FDFEFE;
}

#menu1{
    position: relative;
    top: 45px;
    left: 230px;
    font-size: 12px;
    color: white;
    text-align:  center;  
}

#logo1{
    position: absolute;
    top: 5px;
    left: 10px;
    
}

a:link, a:visited {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 12px;
  
}

#eslogan{
    position: relative;
    top: 0px;
    left: 60px;
    font-size: 20px;
    font-weight: bold;
}

h1{
    color: white;
        
}
#logo2{
    position: absolute;
    top: 5px;
    left: 930px;
    
}

#logo3{
    position: absolute;
    top: 5px;
    left: 220px;
    
}

#modopago{
    position: relative;
    left: 550px;
    
}
#paloma{
     position: absolute;
    top: 50px;
    left: 930px;
    
}